<html style="position: relative; min-height: 100%;">
	<head>
		<th:block th:include="fragments/header :: head"></th:block>
	</head>

	<body style="margin-bottom: 120px;">
		<div class="container">
			<div class="row">
				<th:block th:include="fragments/menu :: menu"></th:block>
	
				<div class="col-lg-9">
					<div class="card card-outline-secondary my-4">
						<div class="card-header">Statistica sub formă taberară - descriere detaliată</div>
						<div class="card-body">
							<table class="table">
								<thead>
									<tr>
										<th>CLIENȚII</th>
										<th th:each="book : ${books}" th:text="${book.name}"/>
									</tr>
								</thead>
								<tbody>
									<tr th:each="student : ${students}">
										<td th:text="${student.name}"/>
										<td th:each="book : ${books}" th:text="${studentBookService.getAverageDuration(student.id, book.id)}"/>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<th:block th:include="fragments/footer :: footer"></th:block>
	</body>
</html>