<div th:fragment="footer">


	<footer class="py-5 bg-info" style="position: absolute; bottom: 0; width: 100%; height: 120px;">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; Proiect ADA - Echipa 8 <br> Chișinău 2019</p>
		</div>
	</footer>
	<!-- include JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script><!---->

</div>