<table class="table">
    <thead>
    <tr>
        <td colspan="3"><span th:text="${student.name}"/> a beneficiat de următoarele produse:</td>
    </tr>
    <tr>
        <th>ID</th>
        <th>PRODUSUL</th>
        <th>STATUTUL</th>
        <th>REDUS(%)</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="bookStudent : ${bookStudents}">
        <td th:text="${bookStudent.book.id}" />
        <td th:text="${bookStudent.book.name}" />
        <td th:text="${bookStudent.book.author}" />
        <td th:text="${bookStudent.duration}" />
    </tr>
    </tbody>
</table>